<!DOCTYPE html>

<html lang="en">
    
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../static/css/grid.css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,100,300italic' rel='stylesheet' type='text/css'>
        <title>Sera & Charlie</title>
    
    </head>

    <body>
        
        <header>
            <nav>
                <div class="row">
                    
                    <ul class="main-nav">
                        <li><a href="#ourstory">Our Story</a></li>
                        <li><a href="#">Event Details</a></li>
                        <li><a href="#">Guest Book</a></li>
                        <li><a href="#rsvp">RSVP</a></li>
                    </ul>
                </div>
            </nav>
            <div class="hero-text-box">
                <h1>Sera & Charlie<br>12.3.16</h1>
                <a class="btn btn-full" href="#">RSVP</a>
                <a class="btn btn-ghost" href="#">Our Story</a>
            </div>
        
        </header>
        
        <section class="section-ourstory">
            <div class="row">
                <a name="ourstory"></a>
                <h2>Our Story</h2>
                
                <p class="long-copy">Charlie and Sera met in San Francisco in April 2015 in the most SF way ever: through a dating app. Ever since then, the two have been inseparable. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
            </div>   
        </section>
        
        <section class="section-photos">
            <ul class="photo-gallery clear-fix">
                <li>
                    <figure class="seracha-photo">
                        <img src="../static/img/c+s-preview-02A.JPG" alt="Stump">
                    </figure>
                </li>
                <li>
                    <figure class="seracha-photo">
                        <img src="../static/img/c+s-preview-05A.JPG" alt="Blurry - GGB">
                    </figure>
                </li>
                <li>
                    <figure class="seracha-photo">
                        <img src="../static/img/c+s-preview-03A.JPG" alt="Back to back - Stump">
                    </figure>
                </li>
                <li>
                    <figure class="seracha-photo">
                        <img src="../static/img/c+s-preview-04A.JPG" alt="Hug - GGB Backgroun">
                    </figure>
                    
                </li>
            </ul>

        </section>
        <section class="section-event-details">
            <div class="row">
                <h2>Event Details</h2>
            </div>
            <div class="row">
                
                    <div class="event-details">
                        <div>Ceremony & Reception</div>
                        <p>SmogShoppe<br>2651 S La Cienega Blvd.<br>Los Angeles, CA 90034</p>
                    </div>
                    <div class="event-details">
                        <div></div>
                        <p></p>
                    </div>
                    <div class="event-details">
                        <div></div>
                        <p></p>
                    </div>
                    
                    
            </div>
        </section>

        
        <section class="section-messages">
            <div class="row">
                <h2>Guest Book</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <blockquote>
                    Congrats you guys! Love you!
                        <cite>Crystal Kim</cite>
                    
                    </blockquote>
                </div>
                <div class="col span-1-of-3">
                    <blockquote>
                    I can't wait to celebrate with you guys!
                        <cite>Kimberly Pak</cite>
                    
                    </blockquote>
                </div>
                <div class="col span-1-of-3">
                    <blockquote>
                    Congratulations Seracha!!!!
                        <cite>Stephanie Jekarl</cite>
                    
                    </blockquote>
                </div>
            </div>
        
        </section>

        
        <section class="section-RSVP">
            <div class="row">
                <h2>RSVP</h2>
                <a name="rsvp"></a>
            </div>
            <div class="row">
                <form method="post" action="#" class="RSVP-form">
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="name">Name</label>
                        
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="name" id="name" placeholder="Your name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="email">Email</label>
                        
                        </div>
                        <div class="col span-2-of-3">
                            <input type="email" name="email" id="email" placeholder="Your email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="attendance">Will you be attending?</label>
                        
                        </div>
                        <div class="col span-2-of-3">
                            <select name="attendance" id="attendance">
                                <option value="choose" selected>Choose one!</option>
                                <option value="alone">Yes! Count me for one!</option>
                                <option value="plusone">Yes! Please add my +1 as well.</option>
                                <option value="no">Nope :(. I will celebrate in spirit.</option>
                            
                            </select>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="plusonename">If bringing a +1, what is his/her name?</label>
                        
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="plusonename" id="plusonename" placeholder="Your +1's name" required>
                        </div>
                    </div>
                      <div class="row">
                        <div class="col span-1-of-3">
                            <label>Drop us a line! (Will be displayed in Guest Book)</label>
                        
                        </div>
                        <div class="col span-2-of-3">
                            <textarea name="message" placeholder="Your message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>&nbsp;</label>
                        
                        </div>
                        <div class="col span-2-of-3">
                            <input type="submit" value="Send it! "> 
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <footer>
            
            <div class="row">
                <p>
                    Copyright &copy; 2016 by Seracha. All rights reserved.
                </p>
            </div>
        
        </footer>
    </body>


    



</html>






